name: "Build & Test"

on:
  push:
    branches: [main]

jobs:

  build-test:
    name: "Build & Test"
    runs-on: macos-10.15
    timeout-minutes: 15

    strategy:
      matrix:
        device:
            - "iPhone 11"
            - "iPad Pro (9.7-inch)"

    steps:
      - name: "Checkout Project"
        uses: actions/checkout@v2

      - name: "Select Xcode 12.0.0"
        uses: devbotsxyz/xcode-select@master
        with:
          version: "12.0.0"

      - name: "Build (Simulator)"
        uses: devbotsxyz/xcode-build@work
        with:
            destination: "platform=iOS Simulator,name=${{ matrix.device}},OS=14.0"

      - name: "Test (Simulator)"
        uses: devbotsxyz/xcode-test@work
        with:
            destination: "platform=iOS Simulator,name=${{ matrix.device }},OS=14.0"
            result-bundle-path: Test.xcresult

