name: Pull Request

on: [pull_request]

jobs:

  Test:
    name: "Build & Test"
    runs-on: "macos-10.15"
    timeout-minutes: 15

    strategy:
      matrix:
        device:
          - "iPhone 11"
          - "iPad Pro (9.7-inch)"

    steps:
      - name: "Checkout Project"
        uses: actions/checkout@v2

      - name: "Select Latest Stable Xcode"
        uses: devbotsxyz/xcode-select@v1
        with:
          beta: true

      - name: "Build (Simulator)"
        id: build
        uses: devbotsxyz/xcode-build@work
        with:
          disable-code-signing: true
          destination: "platform=iOS Simulator,name=${{ matrix.device }},OS=14.0"
          result-bundle-path: "Build.xcresult"
          result-bundle-name: "Build results for ${{ matrix.device }}"

#      - name: "Create Build Annotations"
#        uses: devbotsxyz/xcresult-annotate@work
#        if: ${{ always() }}
#        with:
#          github-token: "${{ secrets.GITHUB_TOKEN }}"
#          result-bundle-path: "${{ steps.build.outputs.result-bundle-path }}"

      - name: "Test (Simulator)"
        id: test
        uses: devbotsxyz/xcode-test@work
        with:
          disable-code-signing: true
          destination: "platform=iOS Simulator,name=${{ matrix.device }},OS=14.0"
          result-bundle-path: "Test.xcresult"
          result-bundle-name: "Test results for ${{ matrix.device }}"

#      - name: "Create Test Annotations"
#        uses: devbotsxyz/xcresult-annotate@work
#        if: ${{ always() }}
#        with:
#          github-token: "${{ secrets.GITHUB_TOKEN }}"
#          result-bundle-path: "${{ steps.test.outputs.result-bundle-path }}"

